body, html {
    overflow: hidden;
}

html {
    width: 400px;
    min-height: 300px;
}

.infoLines span {
    font-size: 16px;
}

.infoLines .field {
    margin-right: 10px;
}

.infoLines .field::after {
    content: ":"
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

main {
    flex: 1 0 auto;
}
.mainMessage h4 {font-size: 20px;}

.footer-copyright, footer.page-footer {
    background-color: #006064 !important;
    padding-top: 0px;
}

.mainMessage {
    text-align: center;
    margin-top: 0;
    background-color: #006064;
    color: #eeeeee;
}

.resultMessage {
    margin-top: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 20px;
}

.results {
    text-align: center;
    margin-top: 80px;
}

.infoLines {
    width: 75% !important;
    margin: 0 auto !important;
}

.infoLines > p {
    font-size: 20px;
    vertical-align: middle;
}